html,
body {
  
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


body{
  background-color: red;
}
.card{
  padding: 100px;
  margin: 10px;
  border: 2px solid black;
  right: auto;
}
.card-body{
color: black;
}
.card :hover{
  background-color: rgba(128, 128, 128, 0.616);
  cursor: pointer;

  
}